@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: black;
}

#pageHolder {
    display: flex;
}



#breweryHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    width: 70%;
}

#usernamedetailsbox {
    margin: 5px 0 2px 0;
}

#cityState {
    margin: 3px 0 15px 0;
}

#favoriteBeerTitle {
    margin: 15px 0 3px 0;
}

#favoriteBeer {
    margin: 2px 0 10px 0;
}

#userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 450px;
    color: white;
    position: sticky; top: 0;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    margin: 15px 0 0 0;
}

#proPic {
    width: 60%;
    border: 2px solid white;
    border-radius: 100px;
    margin: 10px 0 10px 0;
}

#userInitials {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    text-transform: uppercase;
}

#breweriesTitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 20px 0 10px 0;
}

.singleBrewery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    background-image: url('/static/images/hops_banner.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 70%;
    margin: 15px 0 15px 0;
    width: 85%;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
}

.bStreet {
    margin: 0 0 2px 0;
}

.bCityState {
    margin: 2px 0 10px 0;
}

.bUrl {
    margin: 18px 0 18px 0;
}

#nameLocationHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilePicHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#faveBeerHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ratingHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hops {
    display: flex;
    justify-content: center;
}

.beerGlass {
    width: 22.11px;
    height: 50px;
    display: inline-block;
    margin: 0 3px 0 3px ;
    background-image: url('/assets/images/white_hop.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: black;

}

a:link {
    text-decoration: none;
}

#rating {
    margin: 5px 0 5px 0;
}

.brewRating {
    margin: 5px 0 15px 0;
}

.nameAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#inFavorites {
    margin: 25px 0 5px 0;
    width: 65%;
    text-align: center;
}

#ratingTitle {
    margin: 5px 0 10px 0;
}

.bUrl {
    color: black;
}

.voteWhenAdded {
    width: 45%;
    text-align: center;
    margin: 0 0 22px 0;
}

#updateUser {
    color: rgb(78, 67, 48);
    font-size: .75vw;
    margin: 0 0 14 0;
}

#favorite {
    color: black;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

#welcomeImg {
    width: 35%;
}

#welcomeText {
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 40%;
    text-align: center;

}