@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: black;
}

#contentHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#errorText {
    color: white;
    font-family: 'Raleway', sans-serif;
}

#spillPic {
    width: 70%;
    margin: 25px 0 0 0;

}