@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
}

#formHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_password {
    border-width: 0;
    background-color: black;
    border-bottom: 1px solid white;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 5px 0;
    text-align: center;
}

#id_password:focus, input:focus {
    outline: none;
}

#id_password2 {
    border-width: 0;
    background-color: black;
    border-bottom: 1px solid white;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 5px 0;
    text-align: center;
}

#id_password2:focus, input:focus {
    outline: none;
}

#reset {
    background-color: black;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    border: none;
}

#reset:hover {
    color: rgb(125, 172, 66);
}

#footer {
    position: fixed;
    bottom: 0;
}

#matchError {
    color: red;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
}