body {
    background-color: black;
}

#brewPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}



#brewRegistryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    
}

#required {
    margin: 0 0 0 0;
}

#id_brewery_name {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_intro {
    resize: none;
    width: 70%;
    background-color: rgba(170, 170, 170, 0.2);
    font-family: 'Poiret One', cursive;
    font-size: large;
    color: white;
    border: 0;
    border-top: 1px solid rgb(125, 172, 66);
    border-bottom: 1px solid rgb(125, 172, 66);
}

#id_brewery_address {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_city {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_state {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_zip_code {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_phone {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_website {
    border-width: 0;
    border-bottom: 2px solid rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: black;
}

#id_brewery_logo {
    color: white;
    font-family: 'Poiret One', cursive;
}

#id_brewery_hero_image {
    color: white;
    font-family: 'Poiret One', cursive;
}