@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: black;
}

#formHolder {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
    height: 300px;
}

#formNText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #db9d30;
    width: 300px;
    position: relative; right: 150px;
    z-index: 0;
    animation-name: formright;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes formright {
    from {position: relative; right: 150px;}
    to {position: relative; right: 0;}
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

#required {
    margin: 0 0 0 0;
}

#id_state {
    width: 153px;
}

#friendsDrinking {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    background-image: url('static/images/giovanna-gomes-_8KV86shhPo-unsplash.jpg');
    background-size: 450px;
    background-repeat: no-repeat;
    position: relative; left: 150px;
    z-index: 1;
    animation-name: coverleft;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes coverleft {
    from {position: relative; left: 150px;}
    to {position: relative; left: 0;}
}

#join {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.329);
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;    
}

#mybrewtext {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    margin: 0 0 0 0;
    padding: 0 0 0 0; 
}

#logoholderSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.329);
}

#mybrewlogo {
    width: 80%;
    margin: 10px 0 10px 0;
    
}