@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeUserHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid rgb(125, 172, 66);
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

#homeLinkHolder {
    width: 25%;
}

#headerLogo {
    width: 15%;
    margin: 5px 0 5px 5px;
}

#state_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
}

#id_state_search {
    border-width: 0;
    background-color: black;
    border-bottom: 1px solid white;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: x-large;
    margin: 0 0 5px 0;
    text-align: center;
}

#stateSearchButton {
    background-color: black;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    border: none;
}

#stateSearchButton:hover {
    color: rgb(125, 172, 66);
}

#loginLogout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0 10px 10px;
}

.userNav {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
}

.userNav:hover {
    color: rgb(125, 172, 66);
}

#proPicDiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#userInitialsHeader {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    text-decoration: none;
}

#userInitialsHolder {
    color: white;
    font-family: 'Poiret One', cursive;
    margin: 20px 0 20px 0;
    text-transform: capitalize;
}

#usernameLink {
    text-decoration: none;
}

#pageHolder {
    display: flex;
    width: 100%;
}

#breweryHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#favoriteBeerTitle {
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 15px 0 3px 0;
}

#favoriteBeer {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: larger;
    margin: 2px 0 10px 0;
}

#favList {
    width: 80%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fave {
    font-family: 'Poiret One', cursive;
    color: white;
    text-align: center;
    margin: 18.7px 0 0 0;
}

.faveState {
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 0 0 0 0;
}

#favList::-webkit-scrollbar-track {
    background-color: black;
}

#breweriesTitle {
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 20px 0 10px 0;
}

.singleBrewery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    background-image: url('/static/images/hops_banner.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 70%;
    margin: 15px 0 15px 0;
    width: 85%;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
}

.bStreet {
    margin: 0 0 2px 0;
}

.bCityState {
    margin: 2px 0 10px 0;
}

.bUrl {
    margin: 18px 0 18px 0;
}

#faveBeerHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ratingHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hops {
    display: flex;
    justify-content: center;
}

.beerGlass {
    width: 22.11px;
    height: 50px;
    display: inline-block;
    margin: 0 3px 0 3px ;
    background-image: url('/static/images/white_hop.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: black;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgb(87, 86, 86);
}

#rating {
    margin: 5px 0 5px 0;
}

.brewRating {
    margin: 5px 0 15px 0;
}

.nameAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#inFavorites {
    margin: 25px 0 5px 0;
    width: 65%;
    text-align: center;
}

#ratingTitle {
    margin: 5px 0 10px 0;
}

.bUrl {
    color: black;
}

.voteWhenAdded {
    width: 45%;
    text-align: center;
    margin: 0 0 22px 0;
}

#updateUserLink {
    text-decoration: none;
}

#updateUser {
    font-family: 'Poiret One', cursive;
    font-size: large;
    color: rgb(78, 67, 48);
    margin: 0 0 14px 0;
}

#favTitle {
    font-family: 'Poiret One', cursive;
    font-size: larger;
    color: white;
}

#favorite {
    color: black;
}

#footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(125, 172, 66);
    border-bottom: 2px solid rgb(125, 172, 66);
    width: 100%;
    margin: 100px 0 0 0;
}

#hopsBanner {
    width: 25%;
    opacity: .5;
}

#logoHolderFooter {
    width: 15%;
    margin: 0 2% 0 5%;
}

#footerLogo {
    width: 100%;
    margin: 25px 0 25px 0;
}

#siteInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.siteInfo {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: large;
    margin: 5px 0 0 0;
}

#notifyDot {
    position: relative;
    top: 20px;
    left: -5px;
    background-color: rgb(125, 172, 66);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#userInfo {
    display: flex;
    align-items: center;
    width: 23%;
    margin-right: 5px;
}

#notifications {
   display: none;
   background-color: rgba(0, 0, 0, 0.24);
   backdrop-filter: blur(5px);
   align-items: center;
   position: absolute;
   top: 80px;
   left: 70%;
   width: 350px;   
}

#notificationTitle {
    color: white;
}

#notify {
    display: flex;
    justify-content: center;
}

.notificationHolder {
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid rgb(125, 172, 66);
}

.notificationHolder:hover {
    background-color: black;
    cursor: pointer;
}

.posterPic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 4%;
}

.notifyDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 4%;
    

}

.notifyText {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
}

.postTime {
    color: rgba(124, 172, 66, 0.699);
    font-family: 'Poiret One', cursive;
    font-size: x-small;
    margin: 0;
}

.ifNew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25px;
    
}

.new {
    background-color: rgb(125, 172, 66);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

/* modal help from w3 schools */
.notificationModal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    background-color: #fefefe25;
    backdrop-filter: blur(5px);
    border-bottom: .5px solid rgb(125, 172, 66);
    margin: auto;
    width: 50%;
    height: 50%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:200px; opacity:1}
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid rgb(125, 172, 66);
    height: 10%;
}

.modalPostCreated {
    margin: 5px 0 5px 15px;
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
}

.modalClose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid rgb(125, 172, 66);
    cursor: pointer;
    margin-right: 15px;
}

.modalClose:hover {
    background-color: rgb(125, 172, 66);
}

.modalClose:hover .modalX {
    color: rgba(0, 0, 0, 0.411);
}

.modalMainContent {
    display: flex;
    height: 90%;
}

.modalProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(124, 172, 66, 0.699);
    height: 100%;
    width: 25%;
}

.modalProfilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.modalUsername {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    margin: 0 0 5px 0;
}

.modalUserFrom {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: large;
    margin: 0 0 0 0;
}

.modalX {
    margin: 0 0 1px 0;
    color: rgba(0, 0, 0, 0);
}



.modalPostData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
}

.modalNotifyDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: large;
    margin: 0 0 0 0;
    height: 15%;
    width: 100%;
    border-bottom: .5px solid rgb(125, 172, 66);
}

.modalPostContent {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: large;
    border-bottom: .5px solid rgb(125, 172, 66);
}

.modalPost {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    font-size: large;
    margin: 15px 0 15px 15px;
    word-wrap: break-word;
}

.modalPostLikes {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.modalDelete {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    margin: 0 15px 0 0;
    cursor: pointer;
}

.modalLikes {
    color: rgb(125, 172, 66);
    font-family: 'Poiret One', cursive;
    margin-left: 15px;
}

.cheers {
    width: 30px;
    margin-top: 2px;
}

.iconLikes {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin: 3px 0 0 15px;
}

#userDetailsHolder {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 0;
}

#userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100px;
}

#userPicHolder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#userInitialsHolder {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: xxx-large;
}

.details {
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 0 0 5px 0;
}

.modalPostImage {
    width: 50%;
    margin-left: 25%;
}