<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel='stylesheet' href="{% static 'base_header.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <!-- modal for notifcation display -->
    {% include 'notification_modal.html' %}
    <!-- end notification motal -->
<div id='mainHeaderHolder'>
    <div id='homeLinkHolder'>
        <a href='/'><img src='{% static "images/hop_logo_white.png" %}' id='headerLogo' alt='My brew initial logo' /></a>
    </div>
    {% if request.user.is_authenticated %}
    <div id='usernameSearchFormHolder'>
        <form  action='' method="post" id='user_search_form' style="display: flex; flex-direction: column; align-items: center;" >
            {% csrf_token %}
            {{ user_search_form }}
            <input type="submit" value="Search User" id='userSearchButton'>
        </form>
    </div>
    {% endif %}
    <div id='userSearchResults'>
    </div>
    <div id='statesearchformHolder'>
        <form  action='' method="post" id='state_form' style="display: flex; flex-direction: column; align-items: center;" >
            {% csrf_token %}
            {{ state_form }}
            <input type="submit" value="Search State" id='stateSearchButton'>
        </form>
    </div>
    <div id='userInfo'>
        <div id='loginLogout'>
            {% if request.user.is_authenticated %}
                <div id='notify' onmouseover="displayNotifications()" onmouseout="hideNotifications()">
                    <h2 id='notificationTitle'>Notifications</h2>
                    {% if notifications.1 is True %}
                        <div id='notifyDot'></div>
                    {% endif %}
                    <div id='notifications'>
                        {% for notification in notifications.0 %}
                            {% if notification.target.post %}
                                <div class='notificationHolder' data-value="{{ notification.pk }}p">
                            {% else %}
                                <div class='notificationHolder' data-value="{{ notification.pk }}c">
                            {% endif %}
                                {% if notification.author.profile_pic %}
                                <div class='posterPic' style="background-image: url('{{ notification.author.profile_pic.url }}'); background-size: cover;" ></div>
                                {% endif %}
                                <div class='notifyDesc'>
                                    {% if notification.target.post %}
                                        <h2 class='notifyText'>{{ notification.author.username }} mentioned you in a post.</h2>
                                    {% else %}
                                        <h2 class='notifyText'>{{ notification.author.username }} mentioned you in a comment.</h2>
                                    {% endif %}
                                    <h2 class='postTime'>{{ notification.target.created_at }}</h2>
                                </div>
                                <div class='ifNew'>
                                    {% if not notification.viewed %}
                                        {% if notification.target.post %}
                                            <div class='new' id="dot{{ notification.pk }}p"></div>
                                        {% else %}
                                            <div class='new' id="dot{{ notification.pk }}c"></div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 id='logout' class='userNav'> | </h3>
                {% if request.user.profile_pic %}
                    <a href='/profile/{{request.user.username}}/followingVine/'>
                        <div id='proPicDiv' style="background-image: url('{{ request.user.profile_pic.url }}'); background-size: cover;"></div>
                    </a>
                {% else %}
                    <a href='/profile/{{request.user.username}}/followingVine/' id='usernameLink'><h2 class="userNav">{{ request.user.username }}</h2></a>
                {% endif %}
                <h3 id='logout' class='userNav'> | </h3>
                <a href='/logout/' id='logout'><h3 id='logout' class='userNav'>Logout </h3></a>
            {% else %}
                <a href="/" id='login' class='userNav'>Login</a>
                <h3 id='logout' class='userNav'> | </h3>
                <a href="/" id='signup' class='userNav'>Signup</a>
            {% endif %}
        </div>
    </div>
</div>
{% block content %}
{% endblock %}

<div id='footer'>
    <img src="{% static 'images/hops_banner.png' %}" id="hopsBanner" alt='picture of hops on a vine' />
    <div id='siteInfo'>
        <h5 class="siteInfo">info@mybrew.site</h5>
        <h5 class="siteInfo">&#169 MyBrew 2022</h5>
    </div>
    <div id='logoHolderFooter'>
        <a href='/'><img src='/static/images/My-Brew-Logo-White.png' alt=' my brew logo' id='footerLogo' /></a>
    </div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'notify_hover.js' %}"></script>
<script type="text/javascript">

    //clicking a notification will open a model and change the
    //viewed paremeter of notification to true
    $('#notify').on('click', '.notificationHolder', function () {
        //grabs the data-value of the div
        let notificationId = $(this).data('value')
        $.ajax({
            url:`/notificationviewed/${notificationId}/`,
            success: function (newNotifications) {
                let thisDiv = notificationId
                console.log(notificationId, $(thisDiv))
                if(newNotifications === 'False') {
                    $('#notifyDot').css('display', 'none')
                }
                //notification has been marked as viewed and the new
                //notify dot is removed
                $(`#dot${thisDiv}`).css('display', 'none')

                //hides notifications list
                $('#notifications').css('display', 'none')

                //displays the selected modal
                $(`#notify${notificationId}`).css('display', 'block')
                $('body').css('overflow', 'hidden')
                //function to activate the x and close the modal
                $(`#close${notificationId}`).click(function (){

                $(`#notify${notificationId}`).css('display', 'none')
                $('body').css('overflow', 'auto')
                
        })
            }
        })
        
    })

    //allows user to delete a notification
    $('#modalHolder').on('click', '.modalDelete', function () {
        let notificationId = $(this).data('value')
        console.log(notificationId)
        $.ajax({
            url:`/notificationdelete/${notificationId}/`,
            success: function () {
                let thisModal = notificationId
                $(`#notify${thisModal}`).css('display', 'none')
                $('#modalHolder').load(' #modalHolder > *')
                $('#notifications').load(' #notifications > *')
                $('body').css('overflow', 'auto')
            }
        })
    })


    //performs a search of users by username
    $('#id_username_search').keyup(function () {
        let user_input = $('#id_username_search').val()
        $('#userSearchResults').empty()
        if (user_input) {
            $.ajax({
            url: `/usernamesearch/${user_input}/`,
            success: function (results) {
                // console.log(results)

                $.each(results, function () {
                    console.log(this.fields)
                    $('#userSearchResults').append(
                        $(`<div class='userSearchResultHolder' data-value=${this.fields.username}></div>`).append(
                            $("<div class=resultUserImage></div>").css('background-image', `url(/media/${this.fields.profile_pic})`),
                            $("<div class=resultInfo></div>").append(
                            $("<h3 class='resultsText'></h3>").text(this.fields.username),
                            $("<h3 class='resultsText2'></h3>").text(`${this.fields.first_name}, ${this.fields.last_name} / ${this.fields.city}, ${this.fields.state}`)
                            ),
                        )
                    )
                })

                $('body').click(function (){
                    $('#userSearchResults').empty()
                    $('#id_username_search').val('')
                })
            }
        })

        }
        
    })

    $('#userSearchResults').on('click', '.userSearchResultHolder', function () {
        let username = $(this).data('value')
        window.location = `/profile/${username}/followingVine/`
    })

</script>
</body>
</html>