{% extends 'base_header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon"href="{% static 'images/favicon.ico' %}">
    {% load static %}
    <link rel='stylesheet' href="{% static 'home.css' %}">
    <title>My Brew | Home</title>
</head>
<body>
    
   
    {% if request.user.is_authenticated %}
<div id='pageHolder'>
    <div id='userDetails'>
        <div id="nameLocationHolder">
            <h2 id='usernamedetailsbox'>{{ request.user.username }}</h2>
            <h2 id='cityState'>{{ request.user.city }}, {{ request.user.state }}</h2>
        </div>
        <div id='profilePicHolder'>
            {% if request.user.profile_pic %}
                <img src='{{ request.user.profile_pic.url }}' alt='{{ request.user.username }}' id='proPic'/>
            {% else %}
                <h2 id='userInitials'>{{user_initials}}</h2>
            {% endif %}
        </div>
        <div id='faveBeerHolder'>
            <h2 id='favoriteBeerTitle'>My Go To Beer</h2>
            <h2 id='favoriteBeer'>{{ request.user.favorite_beer}}</h2>
            <a href='/updateuser/{{request.user.id}}/'><h4 id='updateUser'>Update Profile</h4></a>
        </div>
    </div>
    <div id='breweryHolder'>
        <h2 id='breweriesTitle'>Registered Breweries in your city</h2>
        {% for brewery in local_brews %}
            <div class='singleBrewery'>
                <div class='nameAddress'>
                    <h2 class='bName'>{{brewery.name}}</h2>
                    {% if brewery.brewer_type %}
                        <h4 class='bType'>{{brewery.brewer_type}}</h4>
                    {% endif %}
                    {% if brewery.street %}
                        <h5 class='bStreet'>{{brewery.street}}</h5>
                    {% endif %}
                        <h5 class='bCityState'>{{brewery.city}}, {{brewery.state}}</h5>
                    {% if brewery.website_url %}
                        <a href="{{brewery.website_url}}" target="_blank"><h5 class='bUrl'>Visit Site</h5></a>
                    {% endif %}
                    <a href='https://maps.google.com/?q={{brewery.street}},{{brewery.city}},{{brewery.state}}' target="_blank"><h4 class='directions'>Get Directions</h4></a>
                </div>
                <div class="ratings">
                    {% if request.user.is_authenticated %}
                    {% if brewery.id not in fave_list_ids %}
                        <a href="/favorite/{{brewery.id}}/"><h5 id='favorite'>Add to Favorites</h5></a>
                        <h5 class='voteWhenAdded'>Once a brewery is in your favorites you will be able to vote and comment on it.</h5>
                    {% else %}
                        <h5 id='inFavorites'>{{brewery.name}} is in your favorites</h5>
                    {% endif %}
                    {% endif %}
                    {% if brewery.id in fave_list_ids %}
                    <div class='ratingHolder'>
                        <h4 id='ratingTitle'>Rate Us</h4>
                        <div class='hops'>
                            <a href='/rate/1/{{brewery.id}}/'><div class='beerGlass' id='rate1{{ forloop.counter}}' onmouseover="hop1{{ forloop.counter }}Hover()" onmouseout="hop1{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/2/{{brewery.id}}/'><div class='beerGlass' id='rate2{{ forloop.counter}}' onmouseover="hop2{{ forloop.counter }}Hover()" onmouseout="hop2{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/3/{{brewery.id}}/'><div class='beerGlass' id='rate3{{ forloop.counter}}' onmouseover="hop3{{ forloop.counter }}Hover()" onmouseout="hop3{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/4/{{brewery.id}}/'><div class='beerGlass' id='rate4{{ forloop.counter}}' onmouseover="hop4{{ forloop.counter }}Hover()" onmouseout="hop4{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/5/{{brewery.id}}/'><div class='beerGlass' id='rate5{{ forloop.counter}}' onmouseover="hop5{{ forloop.counter }}Hover()" onmouseout="hop5{{ forloop.counter }}Exit()"></div></a>
                        </div>
                        <h4 id='rating'>Rated</h4>
                        {% if brewery.rating > 0 %}
                            <h5 class='brewRating'>{{brewery.rating | floatformat:2 }} Hops out of 5</h5>
                        {% else %}
                            <h5 class='brewRating'>This Brewery Has Not Been Rated Yet</h5>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    {% else %}
    <div id='nonuserHomePage'>
        <div id='welcome'>
            <img src='/static/images/my-brew-welcome.png' alt="my brew welcome and logo" id='welcomeImg' />
            <h2 id='welcomeText'>My Brew is a brewery locator for all the craft beer lovers
                out there, just like you. Breweries are a fun and comfortable place to sample
                new tasty brews and unwind with friends and family. Now you can find all the 
                registered breweries in your area and while traveling. We suggest creating an account for a more
                personalized experience to keep track of your favorites, rating, comments and
                social interaction (coming soon) with other craft beer lovers like yourself. Otherwise
                the basic search is availble to everyone with minimized features. Have fun
                exploring and sampling.
            </h2>
        </div>
    </div>
    {% endif %}

    {% load static %}
    <script src="{% static 'rating_icons.js'%}"></script>
    {% endblock%}
</body>
</html>
