<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% if request.user.is_authenticated %}
        {% load static %}
        <link rel='stylesheet' href="{% static 'user_home.css' %}">
    {% else %}
        {% load static %}
        <link rel='stylesheet' href="{% static 'non_user_home.css' %}">
        <link rel='stylesheet' href="{% static 'signup_modal.css' %}">
    {% endif %}
    <title>My Brew | Home</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <!-- modal for notifcation display -->
    {% include 'notification_modal.html' %}
    <!-- end notification motal -->
<div id='homeUserHeader'>
    <div id='homeLinkHolder'>
        <a href='/'><img src='{% static "images/hop_logo_white.png" %}' id='headerLogo' alt='My brew initial logo' /></a>
    </div>
    <div id='usernameSearchFormHolder'>
        <form  action='' method="post" id='user_search_form' style="display: flex; flex-direction: column; align-items: center;" >
            {% csrf_token %}
            {{ user_search_form }}
            <input type="submit" value="Search User" id='userSearchButton'>
        </form>
        <div id='userSearchResults'>
            
        </div>
    </div>
    <div id='statesearchformHolder'>
        <form  action='' method="post" id='state_form' style="display: flex; flex-direction: column; align-items: center;" >
            {% csrf_token %}
            {{ state_form }}
            <input type="submit" value="State Search" id='stateSearchButton'>
        </form>
    </div>
    <div id='userInfo'>
        <div id='loginLogout'>
                <div id="notify" onmouseover="displayNotifications()" onmouseout="hideNotifications()">
                    <h2 class='userNav id='notificationTitle'>Notifications</h2>
                    {% if notifications.1 is True %}
                        <div id='notifyDot'></div>
                    {% endif %}
                    <div id='notifications'>
                        {% for notification in notifications.0 %}
                            {% if notification.target.post %}
                                <div class='notificationHolder' data-value="{{ notification.pk }}p">
                            {% else %}
                                <div class='notificationHolder' data-value="{{ notification.pk }}c">
                            {% endif %}
                                {% if notification.author.profile_pic %}
                                <div class='posterPic' style="background-image: url('{{ notification.author.profile_pic.url }}'); background-size: cover;" ></div>
                                {% endif %}
                                <div class='notifyDesc'>
                                    {% if notification.target.post %}
                                        <h2 class='notifyText'>{{ notification.author.username }} mentioned you in a post.</h2>
                                    {% else %}
                                        <h2 class='notifyText'>{{ notification.author.username }} mentioned you in a comment.</h2>
                                    {% endif %}
                                    <h2 class='postTime'>{{ notification.target.created_at }}</h2>
                                </div>
                                <div class='ifNew'>
                                    {% if not notification.viewed %}
                                        {% if notification.target.post %}
                                            <div class='new' id="dot{{ notification.pk }}p"></div>
                                        {% else %}
                                            <div class='new' id="dot{{ notification.pk }}c"></div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 id='logout' class='userNav'> | </h3>
                {% if request.user.profile_pic %}
                    <a href='/profile/{{request.user.username}}/followingVine/'>
                        <div id='proPicDiv' style="background-image: url('{{ request.user.profile_pic.url }}'); background-size: cover;"></div>
                    </a>
                {% else %}
                    <a href='/profile/{{request.user.username}}/followingVine/' id='usernameLink'><h2 class="userNav">{{ request.user.username }}</h2></a>
                {% endif %}
                <h3 id='logout' class='userNav'> | </h3>
                <a href='/logout/' id='logout'><h3 id='logout' class='userNav'>Logout </h3></a>
        </div>
    </div>
</div>
<div id='pageHolder'>
    <div id='userDetailsHolder'>
        <div id='userDetails'>
            {% if user.profile_pic %}
                <div id='userPicHolder' style="background-image: url('{{ user.profile_pic.url }}'); background-size: cover;"></div>
            {% else %}
                <div id='userInitialsHolder'>{{ user_initials }}</div>
            {% endif %}
            <h2 class='details'>{{ user.username }}</h2>
            {% if user.first.name and user.last_name %}
            <h3 class='details'>{{ user.first_name }}, {{ user.last_name }}</h3>
            {% endif %}
            <h3 class='details'>{{ user.city }}, {{ user.state }}</h3>
            <div id='faveBeerHolder'>
                <h2 id='favoriteBeerTitle'>My Go To Beer</h2>
                <h2 id='favoriteBeer'>{{ request.user.favorite_beer}}</h2>
            </div>
            <div id='favoritesHolder'>
                <div id='favTitleHolder'>
                    <h2 id='favTitle'>My Favorites</h2>
                </div>
                <div id='favList'>
                    {% for favorite in favorite_list %}
                    <h3 class='fave'>{{ favorite.brewery_name }}</h3>
                    <h4 class='faveState'>{{ favorite.brewery_state }}</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id='breweryHolder'>
        <h2 id='breweriesTitle'>Registered Breweries in your city</h2>
        {% for brewery in local_brews %}
            <div class='singleBrewery'>
                <div class='nameAddress'>
                    <h2 class='bName'>{{brewery.name}}</h2>
                    {% if brewery.brewer_type %}
                        <h4 class='bType'>{{brewery.brewer_type}}</h4>
                    {% endif %}
                    {% if brewery.street %}
                        <h5 class='bStreet'>{{brewery.street}}</h5>
                    {% endif %}
                        <h5 class='bCityState'>{{brewery.city}}, {{brewery.state}}</h5>
                    {% if brewery.website_url %}
                        <a href="{{brewery.website_url}}" target="_blank"><h5 class='bUrl'>Visit Site</h5></a>
                    {% endif %}
                    <a href='https://maps.google.com/?q={{brewery.street}},{{brewery.city}},{{brewery.state}}' target="_blank"><h4 class='directions'>Get Directions</h4></a>
                </div>
                <div class="ratings">
                    {% if request.user.is_authenticated %}
                        {% if brewery.id not in fave_list_id %}
                            <a href="/favorite/{{brewery.name}}/"><h5 id='favorite'>Add to Favorites</h5></a>
                            <h5 class='voteWhenAdded'>Once a brewery is in your favorites you will be able to vote and comment on it.</h5>
                        {% else %}
                            <h5 id='inFavorites'>{{brewery.name}} is in your favorites</h5>
                        {% endif %}
                    {% endif %}
                    {% if brewery.id in fave_list_id %}
                    <div class='ratingHolder'>
                        <h4 id='ratingTitle'>Rate Us</h4>
                        <div class='hops'>
                            <a href='/rate/1/{{brewery.id}}/'><div class='beerGlass' id='rate1{{ forloop.counter}}' onmouseover="hop1{{ forloop.counter }}Hover()" onmouseout="hop1{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/2/{{brewery.id}}/'><div class='beerGlass' id='rate2{{ forloop.counter}}' onmouseover="hop2{{ forloop.counter }}Hover()" onmouseout="hop2{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/3/{{brewery.id}}/'><div class='beerGlass' id='rate3{{ forloop.counter}}' onmouseover="hop3{{ forloop.counter }}Hover()" onmouseout="hop3{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/4/{{brewery.id}}/'><div class='beerGlass' id='rate4{{ forloop.counter}}' onmouseover="hop4{{ forloop.counter }}Hover()" onmouseout="hop4{{ forloop.counter }}Exit()"></div></a>
                            <a href='/rate/5/{{brewery.id}}/'><div class='beerGlass' id='rate5{{ forloop.counter}}' onmouseover="hop5{{ forloop.counter }}Hover()" onmouseout="hop5{{ forloop.counter }}Exit()"></div></a>
                        </div>
                        <h4 id='rating'>Rated</h4>
                        {% if brewery.rating > 0 %}
                            <h5 class='brewRating'>{{brewery.rating | floatformat:2 }} Hops out of 5</h5>
                        {% else %}
                            <h5 class='brewRating'>This Brewery Has Not Been Rated Yet</h5>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div id='footer'>
    <img src="{% static 'images/hops_banner.png' %}" id="hopsBanner" alt='picture of hops on a vine' />
    <div id='siteInfo'>
        <h5 class="siteInfo">mybrew81@gmail.com</h5>
        <h5 class="siteInfo">&#169 MyBrew 2021</h5>
    </div>
    <div id='logoHolderFooter'>
        <a href='/'><img src='/static/images/My-Brew-Logo-White.png' alt=' my brew logo' id='footerLogo' /></a>
    </div>
</div>
    {% else %}
    {% include 'signup_modal.html' %}
    <div id='heroHolder'>
        <div id='leftBlock'></div>
        <img src="{% static 'images/hero_taps.png' %}" id='hero'/>
        <div id='rightBlock'></div>
    </div>
    <div id='noticeHolder'>
        <h2 id='noticeText'>MyBrew is currently under development, we welcome you to still explore and play around with the availble features.</h2>
    </div>
    <div id='nonuserHomePage'>
        <div id='welcome'>
            <h2 id='welcomeText'>My Brew is a brewery locator for all the craft beer lovers
                out there, just like you. Breweries are a fun and comfortable place to sample
                new tasty brews and unwind with friends and family. Now you can find all the 
                registered breweries in your area and while traveling. We suggest creating an account for a more
                personalized experience while exploring the extra features and meeting other craft beer lovers like yourself. Otherwise
                the basic search is availble to everyone with minimized features. Have fun
                exploring and sampling.
            </h2>
            <img src='{% static "images/hop_logo_black.png" %}' alt='my brew initials logo' id='initialLogo' />
        </div>
        <div id='nonUserNav'>
            <div id='statesearchformHolder'>
                <form  action='' method="post" id='state_form'>
                    {% csrf_token %}
                    {{ state_form }}
                    <input type="submit" value="SEARCH" id='searchButton'>
                </form>
            </div>
            <div id='formNText'>
                <div id='loginForm'>
                    <form  action='' method="post" id='form'>
                        {% csrf_token %}
                        {{ login_form }}
                        <input type="submit" value="LOGIN" id='loginButton'>
                    </form>
                    <a href='/resetrequest/' id='forgotLink'><h5 id='forgot'>forgot password</h5></a>
                    {% if login_form_errors %}
                        <ul class='form-errors'>
                            {% for error in login_form_errors %}
                                <li id='loginError'>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <h3 id='signup'>SIGNUP</h3>
        </div>
    </div>
    <div id='footer'>
        <img src="{% static 'images/hops_banner.png' %}" id="hopsBanner" alt='picture of hops on a vine' />
        <div id='siteInfo'>
            <h5 class="siteInfo">mybrew81@gmail.com</h5>
            <h5 class="siteInfo">&#169 MyBrew 2021</h5>
        </div>
        <div id='logoHolderFooter'>
            <a href='/'><img src='/static/images/My-Brew-Logo-White.png' alt=' my brew logo' id='footerLogo' /></a>
        </div>
    </div>
    {% endif %}

    {% load static %}
    <script src="{% static 'rating_icons.js'%}"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'notify_hover.js' %}"></script>
    <script type="text/javascript">

        //clicking a notification will open a model and change the
    //viewed paremeter of notification to true
    $('#notify').on('click', '.notificationHolder', function () {
        //grabs the data-value of the div
        let notificationId = $(this).data('value')
        $.ajax({
            url:`/notificationviewed/${notificationId}/`,
            success: function (newNotifications) {
                let thisDiv = notificationId

                if(newNotifications === 'False') {
                    $('#notifyDot').css('display', 'none')
                }
                //notification has been marked as viewed and the new
                //notify dot is removed
                $(`#dot${thisDiv}`).css('display', 'none')

                //hides notifications list
                $('#notifications').css('display', 'none')

                //displays the selected modal
                $(`#notify${notificationId}`).css('display', 'block')
                $('body').css('overflow', 'hidden')

                //function to activate the x and close the modal
                $(`#close${notificationId}`).click(function (){

                $(`#notify${notificationId}`).css('display', 'none')
                $('body').css('overflow', 'auto')
                
        })
            }
        })
        
    })

    //allows user to delete a notification
    $('#modalHolder').on('click', '.modalDelete', function () {
        let notificationId = $(this).data('value')
        $.ajax({
            url:`/notificationdelete/${notificationId}/`,
            success: function () {
                let thisModal = notificationId
                $(`#notify${notificationId}`).css('display', 'none')
                $('#modalHolder').load(' #modalHolder > *')
                $('#notifications').load(' #notifications > *')
       
            }
        })
    })

    //opens the signup form modal
    $('#signup').click(function () {
        $('#signupModalHolder').css('display', 'block')
        $('body').css('overflow', 'hidden')
    })

    //closes the signup form modal
    $('#cancelButton').click(function () {
        $('#signupModalHolder').css('display', 'none')
        $('body').css('overflow', 'auto')
        $('#signupForm').trigger('reset')
        $('#errorMessage').text('')
        $('label').css('display', 'none')
    })

    //submits the signup form
    $('#signupForm').on('submit', function (e) {
        e.preventDefault()

        let signupForm = new FormData()

        let first_name = $('#id_first_name').val()
        let last_name = $('#id_last_name').val()
        let username = $('#id_usernameSU').val()
        let email = $('#id_email').val()
        let state = $('#id_state').val()
        let city = $('#id_city').val()
        let favorite_beer = $('#id_favorite_beer').val()
        let password = $('#id_passwordSU').val()

        signupForm.append('first_name', first_name)
        signupForm.append('last_name', last_name)
        signupForm.append('usernameSU', username)
        signupForm.append('email', email)
        signupForm.append('state', state)
        signupForm.append('city', city)
        signupForm.append('favorite_beer', favorite_beer)
        signupForm.append('passwordSU', password)
        signupForm.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        
        $.ajax ({
            url:'/usersignup/',
            type: 'POST',
            data: signupForm,
            processData: false,
            contentType: false,
            success: function (msg) {
                if (msg === 'success') {
                    //closes the modal
                    $('#signupModalHolder').css('display', 'none')
                    $('body').css('overflow', 'auto')
                    $('#signupForm').trigger('reset')
                } else if (msg === 'email') {
                    $('#errorMessage').text('That email is already in use, you can use the reset password link')
                } else if (msg === 'username') {
                    $('#errorMessage').text('That username is already in use please try different one')
                }
            }
        })
    })


    //displays the label for the input
    $('#signupForm').on('focus', 'input', function () {
        let inputID = $(this).attr('id')
        console.log(inputID)
        $(`label[for=${inputID}]`).css('display', 'block')
    })

    //displays label for the state select
    $('#signupForm').on('focus', 'select', function () {
        let inputID = $(this).attr('id')
        console.log(inputID)
        $(`label[for=${inputID}]`).css('display', 'block')
    })


    //performs a search of users by username
    $('#id_username_search').keyup(function () {
        let user_input = $('#id_username_search').val()
        $('#userSearchResults').empty()
        if (user_input) {
            $.ajax({
            url: `/usernamesearch/${user_input}/`,
            success: function (results) {
                // console.log(results)

                $.each(results, function () {
                    console.log(this.fields)
                    $('#userSearchResults').append(
                        $(`<div class='userSearchResultHolder' data-value=${this.fields.username}></div>`).append(
                            $("<div class=resultUserImage></div>").css('background-image', `url(/media/${this.fields.profile_pic})`),
                            $("<div class=resultInfo></div>").append(
                            $("<h3 class='resultsText'></h3>").text(this.fields.username),
                            $("<h3 class='resultsText2'></h3>").text(`${this.fields.first_name}, ${this.fields.last_name} / ${this.fields.city}, ${this.fields.state}`)
                            ),
                        )
                    )
                })

                $('body').click(function (){
                    $('#userSearchResults').empty()
                    $('#id_username_search').val('')
                })
            }
        })

        }
        
    })

    $('#userSearchResults').on('click', '.userSearchResultHolder', function () {
        let username = $(this).data('value')
        window.location = `/profile/${username}/followingVine/`
    })
    
    </script>
</body>
</html>
