{% extends 'base_header.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'register_brewery.css' %}">
    <title>My Brew | Register Brewery</title>
</head>
<div id='brewPage'>
    <form  action='' method="post" enctype='multipart/form-data' id='brewRegistryForm'>
        {% csrf_token %}
        {{ register_form }}
        <input type="submit" value="Register" id='registerButton'>
        <h6 id='required'>* Required</h6>
    </form>
</div>
{% endblock %}