{% extends 'base_header.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'signup.css' %}">
    <title>My Brew | Signup</title>
</head>
<div id='formHolder'>
    <div id='friendsDrinking'>
        <h2 id='join'>Join Our Community</h2>
        <div id='logoholderSignup'>
            <img src='/static/images/my_brew_logo.png' alt='my brew logo' id='mybrewlogo' />
        </div>
    </div>
    <div id='formNText'>
        <form  action='' method="post" id='form'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Signup">
            <h6 id='required'>* Required</h6>
        </form>
    </div>
</div>
{% endblock %}
