{% extends 'base_header.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'update_user.css' %}">
    <link rel='stylesheet' href="{% static 'delete_user.css' %}">
    <title>My Brew | Update {{ request.user.username }}</title>
</head>
<!-- modal for delete user warning -->
{% include 'delete_user.html' %}
<!-- end warning modal -->
<div id='formNText'>
    <form  action='' method="post" enctype='multipart/form-data' id='form'>
        {% csrf_token %}
        {{ profile_form }}
        <div id='filenameHolder'>
            <label for="id_profile_pic" id="chooseFile"><img src="/static/images/image_upload_icon.png" alt="image upload icon" id="uploadIcon"></label>
            <h3 id='filename'></h3>
        </div>
        <input type="submit" value="Update" id='updateButton'>
    </form>
    <h3 id='deleteProfile'>DELETE PROFILE</h3>
</div>
<script>
    $('#id_profile_pic').change(function () {
        let file = $('#id_profile_pic').val().split('\\')[2]
        $('#filename').text(file)
    })

    $('#deleteProfile').click(function () {
        $('#deleteUserModal').css('display', 'block')
        $('body').css('overflow', 'hidden')
    })

    $('#cancelDelete').click(function () {
        $('#deleteUserModal').css('display', 'none')
        $('body').css('overflow', 'auto')
    })
</script>
{% endblock %}